*/bin/*
*/classes/*
*/bin
*/bin/*
*/Private/*
*/target
*.~*
*Thumbs.db
.svn
.metadata
.refactorings
Servers
Servers2
build
RemoteSystemsTempFiles
*/classes/*.class
bin
obj
*.db
*.jar
target
#*pom.xml
*/maven
*.bak
snap-bin

.sonar
sonar-project.properties

